<div class="modal active-view">
	<h1>Sign In</h1>
	<a href="/" class="close-modal">Close</a>
	<form action="/users/login" method="post">
			<input type="text" name="username" placeholder="Username" autofocus>
			<input type="password" name="password" placeholder="Password">
			<button class="special" type="submit">Log In</button>
	</form>
</div><!-- modal -->